img {
  float: center;
}
.test-box {
  border: 2px solid blue;
  padding: 6px;
  margin: 20px;
  background-color: salmon;
}
body{
  background-color: purple;
}
h1 {
  color: darkred;
  text-align: center;
  font-size: 3em;
}
h2 {
  font-style: italic;
  text-align: center;
  color: black;
  font-size: 2em;
}
p {
    font-family: sans-serif;
    color: black;
    font-size: 2em;

}
